.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Order-independent
*.sw*
*.swp
*~
.DS_Store
.bundle
.env
.env.*
.git
.gitattributes
.github
.gitignore
.woodpecker.yml
/*.md
build
chart
coverage
data
elasticsearch
log
neo4j
node_modules
postgres
postgres*
postgres14
public/assets
public/packs
public/packs-test
public/system
redis
sorbet
tmp
vendor/bundle
